<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Science</title>
</head>
<body>
  <form>
    <div>
      <label>Subject</label>
      <input type="text">
      <label>Chapter</label>
      <input type="text">
      <label>Section</label>
      <input type="text">
      <label>Section Title</label>
      <input type="text">
      <label>Overview text</label>
      <input type="text">
      <label>Main Content</label>
      <input type="text">
      <label>Section Image Attachment</label>
      <input type="image">
      <label>Section Video URL</label>
      <input type="url">
    </div>
    <div>
      <label>Submit</label>
      <input type="button">
    </div>
  </form>
</body>
</html>